body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
Header{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  z-index: 5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    overflow-x: hidden;
}

.videoBackground{
  position: relative;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
.background{
  position: relative;
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  font-size:40pt;
}
.contentShows{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding:0;
}

.contentAboutText{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  
  align-items: flex-start;
  color: white;
  margin: 0;
  padding:0;
}

.contentAbout{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding:0;
}

.contentContact{
  position: absolute;
  width: 75%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding: right 500px;
}

.contentVent{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0;
  padding:0;
}

.showsPic{
  height: 75%;
  width: 100%;
  opacity: 0.25;
  margin-left: 0;
  padding-left: 0;
}

.aboutPic{
  flex: content;
  width:85%;
  overflow-x: hidden;
  align-items: flex-end;
  opacity: 0.25;
}

.ventPic{
  overflow-x: hidden;
  opacity: 0.25;
}

.contactPic{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  opacity: 0.25;
  margin-left: 0;
  padding-left: 0;
}

#Shows{
  padding-left: 0;
  margin-left: 0;
  color: white;
}

.unpack{
  font-size: 50pt;
  color: indianred;
}

.logo{
  position: absolute;
  width: 45%;
  height: 35%;
  z-index:3;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0;
  padding:0;

}
.about{
  color: white;
}

.vent{
  color: white;
}
.contact{
  color: white;
  margin: 0px;
  padding: 0px;
}
.site-footer{

  background-color:rgba(0, 0, 0, 0);
}

.dates{
  flex-direction:column;
  align-items: center;
  display: flex;
}

