body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
Header{
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  z-index: 3index;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.headshotBackground{
  position: relative;
  margin-top:0;
  padding:0;
  width: 100%;
  opacity: 65%;

}
.nav-link{
  color:darkolivegreen;
}
.nav-link:hover{
  font-size: x-large;
}
.background{
  position:relative;
  margin:0;
  padding:0;
  height: 50%;
  width:75%;
}
.content{
  position: absolute;
  width: 50%;
  height: 60%;
  z-index:3;
  top:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding:0;
  font-family: 'Oswald', sans-serif;
  font-size:40pt;
  margin-top: 2rem;
  margin-left: 2rem;
}
.contentRight{
  position: absolute;
  width: 75%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding:0;
}

.contentShows{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0;
  margin-left: 2rem;
  margin-right: 1rem;
  padding:0;
}
.showsPic{
  height: 45%;
  width: 100%;
  opacity: 0.5;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  margin-right: 0;
}
.contentAbout{
  position: absolute;
  width: 75%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding:0;
}

.dates{
  margin-top: 2rem;
  margin-right: 0;
  height: 100%;
  padding: 0;
}

#Shows{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  color: white;
}
.datesCard{
  color: white;
  height:100%;
  width:100%;
  border-color:'green';
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  justify-items: center;
  
}

.btnYoutube {
  color: red;
}

.dateTime{
  margin-top: 0;
  margin-bottom: 0;
  border-right: 2px;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: darkolivegreen;
  border-style: groove;
  vertical-align: baseline;
  
}

.cardInfo{
  justify-content: center;
  -ms-flex-align: center;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.cardButton{
  margin-left: 0;
  padding-left: 0;
  vertical-align: middle;
}
.cardButton:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.contentContact{
  position: absolute;
  width: 60%;
  height: 100%;
  z-index:3;
  top:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin-top: 8rem;
  padding:0;
}

.aboutPic{
  position: relative;
  flex: content;
  flex-wrap: wrap;
  width:100%;
  height:100%;
  align-items: flex-end;
  padding-top: 0;
  margin-top: 0;
  margin-left: 1rem;
  opacity: 0.5;
}

.contactPic{
  width: 100%;
  overflow-x: hidden;
  opacity: 0.45;
  margin-left: 0.75rem;
  padding-left: 0;
}
.contactForm{
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
 
}
.formBtn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.about{
  color: white;
}


.contact{
  color: white;
  margin-top: 2rem;
  padding: 0px;
}

.site-footer{
  background-color:rgba(0, 0, 0, 0);
}
.btnYoutube{
  color:red;
  font-size: xx-large;
}

.btnInstagram{
  color: #C13584;
  font-size: xx-large;
  
}
.btnTwitter{
  color:#1DA1F2;
  font-size: xx-large;
}
.form-style{
  background-color: #4C4E52;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.row{
  width: 100%;
}
